# Top Level protection temporary until read to show world
# AuthType Basic
# AuthName "Top Level Access (temp until site goes live)"
# AuthUserFile "/home1/hcsite/htaccess/.hc32.htpasswd"
# require valid-user
Options -Indexes
RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://hc32.hotchips.org/$1 [R,L]
