.content-anchor {
  position: relative;
}


.top-right-qr {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 10;
  display: flex;
  align-items: flex-start;
  gap: 0.5rem; 
}

.top-right-qr img {
  width: 15px;      
  height: auto;
}

.top-right-qr a {
  font-size: 0.9em;
  font-weight: bold;
  line-height: 1.2;
}

.top-right-qr td {
  padding: 0.5rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .top-right-qr {
    display: none;
  }
}